* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Подключение шрифтов*/
@font-face {
    font-family: 'OpenSans-Regular';  
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}
/* Подключение шрифтов*/
body {
    font-family: OpenSans-Regular;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    align-items: center;
    max-width:1300px;
    width: 100%;

}

.header_top_contacts_mobile_number, .footer_top_contacts_mobile_number {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    padding-left: 50px;
    color: #000000;
}
.header_top_contacts_mobile_number:before, .footer_top_contacts_mobile_number:before {
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
    background:url(../images/svg/mobile.svg);
    width:53px;
    height: 53px;
}
.header_top_contacts_email_number {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    position: relative;
    color: #000000;
    padding-left: 50px;
}
.header_top_contacts_email_number:before {
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
    background:url(../images/svg/mobile.svg);
    width:53px;
    height: 53px;
}
.header_top_logo {

    width: 350px;
}
#logo {
    height: 100%;
    width: 100%;
}
.header_top_input {
    position: relative;
}
.header_top_input input {
    outline: none;
    background: #FFFFFF;
    border: 2px solid rgba(154, 146, 146, 0.53);
    border-radius: 4px;
    height: 41px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #A7A7A7;
    padding-left: 10px;
    
}
.header_top_input input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #A7A7A7;
}
.header_top_input:after {
    content: "";
    background:url(../images/svg/Vector.svg);
    width: 31px;
    height: 33px;
    position: absolute;
    right: -45px;
    top: 4px;
    user-select: none;
    cursor: pointer;
}
.header_top_basket {
    position: relative;
    width: 15px;
    height: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 50px;
    background: #4F0090;
    margin-right: 42px;
    margin-left: 32px;
    margin-top: -20px;
    cursor: pointer;
}
.header_top_basket:after {
    content: "";
    background: url(../images/svg/basket.svg);
    position: absolute;
    width: 38px;
    height: 37px;
    left: 11px;
    top: -3px;
}
.header_bottom {
    height: 91px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    background: linear-gradient(94.16deg, #21048C 54.52%, #4F0090 59.59%);
}
.header_bottom_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    padding: 10px;
}

.header_bottom_nav_list{
    font-family: OpenSans-Bold;
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    justify-content: space-between;
}

#list1:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 9px;
    margin-left: 10px;
    margin-top: 9px;
    background: url(../images/svg/arrow.svg);
}
#list2:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 9px;
    margin-left: 10px;
    margin-top: 9px;
    background: url(../images/svg/arrow.svg);
}
#news {
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    padding-top: 60px;
    text-align: center;
    color: #21048C;
    margin-bottom: 109px;
}
/*Main page - start*/
.content_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.content_main_wrapper {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.content_main_top {
    display: flex;
    justify-content: space-between;

}
.content_main_top_img {
    max-width: 594px;
    max-height: 522px;
}
.content_main_top_text {
    max-width: 500px;
}
.content_main_top_text_heading {
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #21048C;
}
.content_main_top_text p {
    font-family: OpenSans-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}
.content_main_heading {
    text-align: center;
    font-family: OpenSans-bold;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #4F0090;
    margin-bottom: 71px;
}
.content_main_news_products {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.content_main_news_products_unit {
    border: 2px solid;
    padding: 10px;
    border-image: linear-gradient(9.59deg, #4F0090 48.67%, #21048C 90.92%);
    border-image-slice: 1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.content_main_news_products_unit_img {
    max-width: 279px;
    max-height: 282px;
}
.content_main_news_products_unit_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.content_main_news_products_unit_text_heading {
    font-family: OpenSans-ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}
.content_main_news_products_unit_text_lvl {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    }
.content_main_news_products_unit_text_lvl p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.content_main_news_products_unit_text_lvl_images {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.content_main_news_products_unit_text_lvl_images img {
    max-width: 23px;
    max-height: 23px;
}
.content_main_news_products_unit_text_details {
    display: flex;
    justify-content: space-between;
}
.content_main_news_products_unit_text_details_weight {
    display: flex;
    gap: 5px;
}
.content_main_news_products_unit_text_details_location {
    display: flex;
    gap: 5px;
}
.content_main_news_products_unit_text_structure {
    display: flex;
    gap: 5px;
}
.content_main_info {
    text-align: center;
}

.content_main_info p {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}
#span-elem1 {
    font-family: OpenSans-Bold;
    color:#4F0090;
}
.span-elem2 {
    color:#21048C;
    font-family: OpenSans-Bold;
}
.content_main_methods_images {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}
.content_main_news_products_unit_text_cost {
    margin-right: auto;
    margin-left: auto;
    background: #4F0090;
    border-radius: 6px;
    width: 122px;
    height: 42px;
    position: relative;
    border: none;
}
.content_main_news_products_unit_text_cost p {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    font-family: OpenSans-SemiBold;
    padding-left: 20px;
}
.content_main_news_products_unit_text_cost p:before {
    content: "";
    background: url(../images/svg/cart.svg);
    position: absolute;
    width: 23px;
    height: 21px;
    left: 7px;
    top: 9px;
    margin-left: 10px;
}
.content_main_faq {
    display: flex;
}
.content_main_faq_answer_heading {
    margin-bottom: 50px;
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #4F0090;
}
.content_main_faq_answer_btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content_main_faq_answer_btn_unit {
    max-width: 934.81px;
    height: 101px;
    background: #21048C;
    border-radius: 101px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_main_faq_answer_btn_unit p {
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 45px;
    color: #FFFFFF;
    position: relative;
}
.content_main_faq_answer_btn_unit_img img {
    padding-left: 13px;
    padding-top: 10px;
}
.content_main_categories_list {
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: center;
    padding: 10px;
    gap: 15px;
}
.content_main_categories_list_unit {

}
.content_main_categories_list_unit_img {
    max-width: 551px;
    height: 392px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content_main_categories_list_unit a {
    position: relative;
    width:100%;
    height: 100%;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
}

/*Main page - end*/
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_container {
    padding: 10px;
    max-width: 1300px;
    width: 100%;
}
.content_container_box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 151px;
    gap: 71px;

}
.content_container_box_img {
    max-width: 506px;
    width: 100%;
    max-height: 409px;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
}
.content_container_box_text {
    max-width: 871px;
    width: 100%;
    height: 409px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h1_head {
    font-family: OpenSans-ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
}
.p_content {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.details {
    width: 237px;
    height: 54px;
    background: #500191;
    text-align: center;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
}
.details-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}
.details-btn:after {
    content: "";
    background: url(../images/svg/arrow-right.svg);
    position: absolute;
    width: 18px;
    height: 10px;
    background-repeat: no-repeat;
    top: 26px;
    top: 14px;
    margin-left: 5px;
}
.content_container_box_img {

}
.footer {
    width: 100%;
    border-top: 1px solid #1B0188;
    display: flex;
    gap: 47px;
    justify-content: center;
    align-items: center;
}
.footer_wrapper {
    max-width: 1300px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.footer_top_img {
    margin-right: 10px;
}

.footer ul {
    list-style: none;
}
.footer ul li {
    padding-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    cursor: pointer;
}
.footer_top_nav {

}
.footer_top_catalog_heading_p {
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 45px;
    color: #21048C;
}
.footer_top_contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
}
.footer_top_catalog_heading {
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 45px;
}
.footer_top_contacts_adress p, .footer_top_contacts_time_work p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    padding-left: 40px;
}
.footer_top_contacts_heading {
    font-family: OpenSans-bold;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    position: relative;
    padding-left: 40px
}
.footer_top_contacts_heading_address {
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    position: relative;
    padding-left: 38px;
}
.footer_top_contacts_heading_address:before {
    content: "";
    background: url(../images/svg/location.svg);
    position: absolute;
    width: 27px;
    height: 38.22px;
    left: 0px;
    top: -8px;
}
.footer_top_contacts_heading_time_work {
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    position: relative;
    padding-left: 38px;
}
.footer_top_contacts_heading_time_work:before {
    content: "";
    background: url(../images/svg/clock.svg);
    position: absolute;
    width: 33px;
    height: 33.22px;
    left: 0px;
    top: -8px;
}
.footer_top_contacts_info {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    height: 100%;
}
.footer_top_contacts_info p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: auto;
}
.footer_top_contacts_social_networks {

}
.footer_top_catalog_heading_m {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    font-family: 'OpenSans-Bold';

    color: #21048C;

}
.footer_top_contacts_social_networks_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.footer_bottom {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    gap:18px;
    margin-left: 81px;
}
